In [88]:
import pandas as pd

df = pd.read_csv('finance.csv')

In [95]:
df.drop(['Group', 'Series_title_1', 'Series_title_2'], axis=1, inplace=True)

In [96]:
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Current prices,Unadjusted,NaN
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Current prices,Unadjusted,NaN
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Current prices,Unadjusted,NaN
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Current prices,Unadjusted,NaN
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Current prices,Unadjusted,NaN
...,...,...,...,...,...,...,...,...,...,...
6190,BDCQ.SF8RSCA,2021.09,382.195,NaN,F,Dollars,6,Current,Unadjusted,NaN
6191,BDCQ.SF8RSCA,2021.12,397.184,NaN,F,Dollars,6,Current,Unadjusted,NaN
6192,BDCQ.SF8RSCA,2022.03,493.945,NaN,F,Dollars,6,Current,Unadjusted,NaN
6193,BDCQ.SF8RSCA,2022.06,579.955,NaN,R,Dollars,6,Current,Unadjusted,NaN
6194,BDCQ.SF8RSCA,2022.09,609.161,NaN,F,Dollars,6,Current,Unadjusted,NaN

In [97]:
df.index

RangeIndex(start=0, stop=6195, step=1)

In [98]:
df.columns

Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
       'UNITS', 'Magnitude', 'Series_title_3', 'Series_title_4',
       'Series_title_5'],
      dtype='object')

In [99]:
df.axes

[RangeIndex(start=0, stop=6195, step=1),
 Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
        'UNITS', 'Magnitude', 'Series_title_3', 'Series_title_4',
        'Series_title_5'],
       dtype='object')]

In [100]:
df.dtypes

Series_reference     object
Period              float64
Data_value          float64
Suppressed           object
STATUS               object
UNITS                object
Magnitude             int64
Series_title_3       object
Series_title_4       object
Series_title_5      float64
dtype: object

In [101]:
df.size

61950

In [102]:
df.shape

(6195, 10)

In [103]:
df.ndim

2

In [104]:
df.empty

False

In [105]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,6185,6186,6187,6188,6189,6190,6191,6192,6193,6194
Series_reference,BDCQ.SF1AA2CA,BDCQ.SF1AA2CA,BDCQ.SF1AA2CA,BDCQ.SF1AA2CA,BDCQ.SF1AA2CA,BDCQ.SF1AA2CA,BDCQ.SF1AA2CA,BDCQ.SF1AA2CA,BDCQ.SF1AA2CA,BDCQ.SF1AA2CA,...,BDCQ.SF8RSCA,BDCQ.SF8RSCA,BDCQ.SF8RSCA,BDCQ.SF8RSCA,BDCQ.SF8RSCA,BDCQ.SF8RSCA,BDCQ.SF8RSCA,BDCQ.SF8RSCA,BDCQ.SF8RSCA,BDCQ.SF8RSCA
Period,2016.06,2016.09,2016.12,2017.03,2017.06,2017.09,2017.12,2018.03,2018.06,2018.09,...,2020.06,2020.09,2020.12,2021.03,2021.06,2021.09,2021.12,2022.03,2022.06,2022.09
Data_value,1116.386,1070.874,1054.408,1010.665,1233.7,1282.436,1290.82,1412.007,1488.055,1497.678,...,133.586,470.454,522.33,597.997,635.931,382.195,397.184,493.945,579.955,609.161
Suppressed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STATUS,F,F,F,F,F,F,F,F,F,F,...,F,F,F,F,F,F,F,F,R,F
UNITS,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,...,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars
Magnitude,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
Series_title_3,Current prices,Current prices,Current prices,Current prices,Current prices,Current prices,Current prices,Current prices,Current prices,Current prices,...,Current,Current,Current,Current,Current,Current,Current,Current,Current,Current
Series_title_4,Unadjusted,Unadjusted,Unadjusted,Unadjusted,Unadjusted,Unadjusted,Unadjusted,Unadjusted,Unadjusted,Unadjusted,...,Unadjusted,Unadjusted,Unadjusted,Unadjusted,Unadjusted,Unadjusted,Unadjusted,Unadjusted,Unadjusted,Unadjusted
Series_title_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
df.values

array([['BDCQ.SF1AA2CA', 2016.06, 1116.386, ..., 'Current prices',
        'Unadjusted', nan],
       ['BDCQ.SF1AA2CA', 2016.09, 1070.874, ..., 'Current prices',
        'Unadjusted', nan],
       ['BDCQ.SF1AA2CA', 2016.12, 1054.408, ..., 'Current prices',
        'Unadjusted', nan],
       ...,
       ['BDCQ.SF8RSCA', 2022.03, 493.945, ..., 'Current', 'Unadjusted',
        nan],
       ['BDCQ.SF8RSCA', 2022.06, 579.955, ..., 'Current', 'Unadjusted',
        nan],
       ['BDCQ.SF8RSCA', 2022.09, 609.161, ..., 'Current', 'Unadjusted',
        nan]], dtype=object)

In [107]:
df.count

<bound method DataFrame.count of      Series_reference   Period  Data_value Suppressed STATUS    UNITS  \
0       BDCQ.SF1AA2CA  2016.06    1116.386        NaN      F  Dollars
1       BDCQ.SF1AA2CA  2016.09    1070.874        NaN      F  Dollars
2       BDCQ.SF1AA2CA  2016.12    1054.408        NaN      F  Dollars
3       BDCQ.SF1AA2CA  2017.03    1010.665        NaN      F  Dollars
4       BDCQ.SF1AA2CA  2017.06    1233.700        NaN      F  Dollars
...               ...      ...         ...        ...    ...      ...
6190     BDCQ.SF8RSCA  2021.09     382.195        NaN      F  Dollars
6191     BDCQ.SF8RSCA  2021.12     397.184        NaN      F  Dollars
6192     BDCQ.SF8RSCA  2022.03     493.945        NaN      F  Dollars
6193     BDCQ.SF8RSCA  2022.06     579.955        NaN      R  Dollars
6194     BDCQ.SF8RSCA  2022.09     609.161        NaN      F  Dollars

      Magnitude  Series_title_3 Series_title_4  Series_title_5
0             6  Current prices     Unadjusted             NaN
1             6  Current prices     Unadjusted             NaN
2             6  Current prices     Unadjusted             NaN
3             6  Current prices     Unadjusted             NaN
4             6  Current prices     Unadjusted             NaN
...         ...             ...            ...             ...
6190          6         Current     Unadjusted             NaN
6191          6         Current     Unadjusted             NaN
6192          6         Current     Unadjusted             NaN
6193          6         Current     Unadjusted             NaN
6194          6         Current     Unadjusted             NaN

[6195 rows x 10 columns]>

In [108]:
df.columns

Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
       'UNITS', 'Magnitude', 'Series_title_3', 'Series_title_4',
       'Series_title_5'],
      dtype='object')

In [110]:
df.loc

In [113]:
df.ftypes

AttributeError: 'DataFrame' object has no attribute 'ftypes'